
<!-- <html lang="en" ng-model>
<head>
	<meta charset="UTF-8">
	<title>PoliView</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script scr="scripts/app.js"></script>
</head>
<body>
	<h1>ranks page</h1>

	<div ng-view/>

	<script src="bower_components/angular/angular.js"></script>

	<script src="scripts/politician.js"></script>
	<script src="scripts/ranks.js"></script>
	<script src="scripts/utils.js"></script>
	
</body>
</html>
 -->

 <div id="ranks" ng-controller="rankCtrl">
 	
 	<div ng-model="lists"> heyyy</div>
 </div>